* {
margin : 0;
list-style-type : none;
padding : 0;
text-decoration : none;

}


#banner {
	height : 170px;
	width : 100%;
	background : url('../images/bannerv3.png');
	background-size : cover;
}

.menu {
	background-color : #99c2ff;
	margin-top : 3px;
	margin-bottom : 3px;
	width :100%;
	height : 50px;
}
ul li {
	list-style-type : none;
	text-decoration : none;
	margin-top : 6px;
	width : 330px;
	text-align : center;
    letter-spacing : 3px;
	margin-left : 4px;
	display : in-line;
	float : left;
	font-size : 18px;
	margin-bottom : 0;
}


li a{
display : block;
color: white;
background-color : black;
opacity : 0.6;
padding : 6px;
	
}

li a:hover {
	background-color : white;
	color : black;
	
}
.container {
	background : url('../images/websitebg.png') no-repeat;
	background-size : cover;
	clear : both;
	position : relative;
	width : 100%;
	height : 650px;
	
}
.inner-container1 {
	position : absolute;
	top : 150px;
	left : 60px;
	clear: left;
}

.inner-container2 {
	position : absolute;
	left : 950px;
	top :150px;
	clear : right;
}

.inner-container3 {
	position : absolute ;
	left :500px;
	top : 150px;
	
} 


.inner-container1 {
	
	height : 375px;
	width : 350px;
	text-align : center;
	background-color : rgba(153, 204, 255,0.7);
	border-radius :	 3%;
	clear: both;
	margin-top : 50px;
}

.inner-container1 img {
	
	width : 130px;
	height : 120px;
	border-radius : 60%;
	margin-top : -60px;
	margin-bottom : 40px;
	border : 0.8px solid white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	
}

input[type='text'],input[type='password']{
	
	height : 35px;
	width : 275px;
	margin-bottom : 30px;
	font-size : 18px;
	padding-left : 20px;	
}


input[type ='submit'] {
	height : 40px;
	width : 70px;
	margin-left : 0px;
	background-color : white;
	color : black;
	font-size: 15px;
	border-radius : 2px;
	border : 2px solid green;
	margin-bottom : 20px;
}
input[type='submit']:hover {
	background-color: green;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.inner-container1 a {
	font-size : 18px;
	margin-left : 29px;
	color: black;
}
.inner-container1 a:hover{
	color : white;
}

.inner-container2 {
	
	height : 375px;
	width : 350px;
	text-align : center;
	background-color : rgba(153, 204, 255,0.7);
	border-radius :	 3%;
	clear: both;
	margin-top : 50px;
}

.inner-container2 img {
	
	width : 130px;
	height : 120px;
	border-radius : 60%;
	margin-top : -60px;
	margin-bottom : 40px;
	border : 0.8px solid white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	
}

.inner-container2 a {
	font-size : 18px;
	margin-left : 29px;
	color: black;
}
.inner-container2 a:hover{
	color : white;
}





.inner-container3 {
	
	height : 375px;
	width : 350px;
	text-align : center;
	background-color : rgba(153, 204, 255,0.7);
	border-radius :	 3%;
	clear: both;
	margin-top : 50px;
}

.inner-container3 img {
	
	width : 130px;
	height : 120px;
	border-radius : 60%;
	margin-top : -60px;
	margin-bottom : 40px;
	border : 0.8px solid white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	
}
.inner-container3 a {
	font-size : 18px;
	margin-left : 29px;
	color: black;
}
.inner-container3 a:hover{
	color : white;
}


#head1{
	position : absolute;
	top : 70px;
	left : 130px;
	letter-spacing: 3px;
	font-family : "Aerolite";
	font-size : 25px;
	background-color : #0099ff;
	padding: 3px 10px 10px ;
	color : white;
	border-radius : 5%;
}

#head2 {
	position : absolute;
	top : 70px;
	left : 570px;
	letter-spacing: 3px;
	font-family : "Aerolite";
	font-size : 25px;
	background-color : #0099ff;
	padding: 3px 10px 10px ;
	color : white;
	border-radius: 5%;
}

#head3 {
	
	position : absolute ;
	top : 70px;
	left : 1020px;
	letter-spacing: 3px;
    font-family : "Aerolite";
	font-size : 25px;
	background-color : #0099ff;
	padding: 3px 10px 10px ;

	color : white;
	border-radius : 5%;
}

#head1:hover {
	opacity : 0.7;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#head2:hover {
	opacity : 0.7;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#head3:hover {
	opacity : 0.7;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.anchor {
	text-decoration : none;
	color : white;
}

#artboard {
	width : 100%;
	height : 450px;
	background-color : #33ccff;
	position : relative;
	
}
h3 {
	font-family : 'Jaapokki subtract';
	position : absolute;
	left : 550px;
	top : -20px;
	background-color : #0066ff;
	padding : 15px 20px;
	color : white;
	border-radius : 3%;
	cursor : pointer;
}
 .board {
	 height : 350px;	 
	 width :   250px;
	 text-align : center;
	 position : absolute;
 } 
 
 .board img{
	 height : 190px;
	 width : 240px;
	 margin-top: 10px;
	 margin-bottom : 15px;
	 border : 2px solid white;
	 
 }
 
 .board button {
	 color : white;
	 border-radius :3px;
	 padding : 4px 4px; 
	 border : 2px solid white;
	 background-color : #33ccff;
	 cursor : pointer ;
 }
 .board button:hover {
	 background-color : white;
	 color : black;
	 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	 opacity : 0.7;
 }
 
 .board  h4 {
	 font-family : 'Jaapokki subtract';
	 color : white;
 }
 
 .board p{
	 font-family : 'Lithos Pro';
	 color : #d9d9d9;
 }
 
 #board1 {
	 top: 50px;
	 left : 30px;
	 
 }
 
 
  #board2 {
	 top: 50px;
	 left : 370px;
	 
 }
 
  #board3 {
	 top: 50px;
	 left : 710px;
	 
 }
 
  #board4 {
	 top: 50px;
	 left : 1050px;
	 
 }
 
 .slide_cont{
	 position : relative;
	 width : 100%;
	 height : 550px;
	background: linear-gradient( #99ccff, #ccffff);
	 
 }
 
 .slide_cont .slider {
	 
	 position : absolute;
	 height :450px;
	 width : 500px;
	 top : 50px;
	 left : 60px;
	 border : 2px solid white;
	 /*overflow : hidden;*/
	 /*background-image : url('images/loading1.gif');
	 background-repeat : no-repeat;
	 background-position : center;
	 */
 }
 
 .slider img {
	 height : 450px;
	 width : 500px;
	 display : none;
	 

 }
 
 .slide_cont .inner_cont {
	 
	 position : absolute;
	 height : 200px;
	 width : 600px;
	 background-color : rgba(51, 153, 255,0.5);
	  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.24),0 12px 30px 0 rgba(0,0,0,0.19);
 }
 
 .slide_cont #inner1 {
	 top : 50px;
	 left : 650px;
 }
 .slide_cont #inner2{
	top : 300px;
    left : 650px;	
 }
 
.slide_cont #inner1 img {
	margin-top : 15px;
    margin-left : 15px;	
	width : 170px;
	height: 170px;
	border :1px solid white;
	cursor : pointer;
} 
.slide_cont #inner1 p {
	position : absolute;
	top : 15px;
	left : 210px;
	width : 370px;
	height : 130px;
	text-align : center;
    padding-top : 30px;
	font-family : 'Perpetua Titling MT';
	letter-spacing : 2px;
	font-size : 14px;
	color : white;
}

.slide_cont #inner2 iframe {
height :180px ;
width : 200px;
border : 2px solid white;
margin-top : 10px;
margin-left : 10px;
border-radius : 2%;	
} 

.slide_cont #inner2 p {
	text-align : center;
	position : absolute;
	top : 20px;
	width : 350px;
	left : 230px;
	font-family : 'Perpetua Titling MT';
	letter-spacing : 2px;
	font-size : 14px;
	color : white;
	padding-top : 20px;

}


.slide_cont #inner2 img {
	position : absolute;
	top : 100px;
	left : 100px;
	height : 40px;
	width : 150px;
	
	
}

 .footer {
	 
	 background-color: #00ccff;
	 padding-left :500px;
	 padding-top : 30px;
	 padding-bottom: 30px;
	 
 }
 
 #insta {
	 height : 45px;
	 width : 45px;
 }
  
#fb {
	 height : 50px;
	 width : 50px;
 }
 
  
 #pin {
	 height : 50px;
	 width : 50px;
 }
 
  
 #lin {
	 height : 50px;
	 width : 50px;
 }
 
  #twit {
	 height : 50px;
	 width : 50px;
 }
 
  #goog {
	 height : 50px;
	 width : 50px;
 }
 #yout {
	 height : 50px;
	 width : 50px;
 }
 